body{
    font-family: sans-serif;
    background-image: url(foto_background.jpg);
    height: 1024px;
    width: 1440px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.wrap{
    background-color:rgba(255, 255, 255, 0.719);
    width: 1012px;
    height: 544px;
    color:black;
    margin: 100px 400px;
    padding: 15px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
    font-size: x-large;
}

.judul{
    text-align: center; 
}
hr{
    align-content: center;
    width: 75%;
    border-top: 2px double;
    color: rgb(0, 0, 0);
}

.isitable{
    border-collapse: collapse;
    margin-left: 150px;
}

img.foto{
    width: 249px;
    height: 260px;
    display: block;
    border-color: white;
    margin-right: 50px;
    border: 2px;
}